<footer class="footer">
  <nav class="round"> 
    <ul id="footercss">
      <%= link_to "Home", static_pages_home_path %> :: 
      <%= link_to "About Us", static_pages_aboutUs_path %> :: 
      <%= link_to "Contact Us", static_pages_contactUs_path %></li> :: 
      <%= link_to "Privacy Policy", static_pages_privacyPolicy_path %> :: 
      <%= link_to "Webmaster", '#' %>
    </ul>
  </nav>
</footer>

